.sign-in__container {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  background-color: #161616;
}

a {
  text-decoration: none;
  color: inherit;
}

.sign-in__left {
  width: 40%;
  height: 100%;
  background: radial-gradient(circle at center center, #7fadf7, #0055df);
  border-radius: 10px;
}
.sign-in__right {
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.sign-in__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* push content to the bottom */
  align-items: center; /* center horizontally */
  height: 100%;
  padding: 0 2em 8em 2em;
  gap: 1em;
}
.sign-in__box .box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to top, #8eaff7, #125af9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in__box .box img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.sign-in__box .content {
  background: linear-gradient(to right, #f8f7f7, #a9a9a9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sign-in__box .title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}
.sign-in__box .description {
  font-size: 0.6rem;
  text-align: center;
}
.sign-in__right .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sign-in__right .header .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sign-in__right .header .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sign-in__right .header .tag {
  font-size: 0.6rem;
  font-weight: 400;
}
.sign-in__right .header .tag span {
  color: #4990ea;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 8em 5em;
  width: 100%;
}
.sign-in__right .form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: flex-start;
  width: 100%;
}
.sign-in__right .form h1 {
  font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.5rem);
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-bottom: 0.5em;
  text-align: center;
}
.sign-in__right .form p {
  text-align: center;
  font-size: 0.5rem;
  color: #8f8f8f;
}
.sign-in__right .form form .input {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}
.sign-in__right .form form .input label {
  font-size: 0.6rem;
  font-weight: 300;
}
.sign-in__right .form form .input input {
  width: 100%;
  padding: 0.8em 1.5em;
  border-radius: 4px;
  border: 0.5px solid #d4d4d4;
  font-size: 0.6rem;
  color: #8f8f8f;
  outline: none;
}

@media (max-width: 768px) {
  .sign-in__left {
    display: none;
  }
  .sign-in__right {
    width: 100%;
    height: auto;
  }
  .sign-in__box {
    padding: 2em;
  }
  .sign-in__right .form {
    padding: 0;
    margin-top: 10em;
  }
}
